
   <div class="no-js-hidden product-price" id="sticky-price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
            {%- render 'price',
              product: product,
              use_variant: true,
              show_badges: true,
              price_class: 'price--large',
              hide_cents: true
            -%}
            <p class="price-shipping-text">{{ block.settings.shipping_text }}</p>
          </div>
          {%- if product.quantity_price_breaks_configured? -%}
            <div class="volume-pricing-note">
              <span>{{ 'products.product.volume_pricing.note' | t }}</span>
            </div>
          {%- endif -%}
            <div class="product__tax caption rte">
              {%- if cart.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          <div {{ block.shopify_attributes }}>
            {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
            {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
            {%- endform -%}
          </div>
    
    <style>
    
    
    
  
    </style>
    

    
    <script>
    
    window.addEventListener('scroll', function(){
    const pageYOffset = window.pageYOffset;
    const buttonOffsetHeight = document.querySelector('.product-form__buttons').offsetTop;
    console.log(buttonOffsetHeight);

    const elementToMove = document.querySelector('.qty-price-wrap');
    const newParentElement = document.querySelector('.sticky-bar');

    if (pageYOffset > buttonOffsetHeight) {
      // Move add to cart to sticky bar
      newParentElement.appendChild(elementToMove);
      
      // Add sticky cart class to body 
      document.body.classList.add('sticky-cart2');
    }else{
    document.body.classList.remove('sticky-cart2');
    }
    })
    </script>