{{ 'section-home-main-banner.css' | asset_url | stylesheet_tag }}

<div class="inner">

  <div class="section-content">
    <h1 class="header-alt">{{ section.settings.heading }} </h1>
    <div class="subhead">
      {%- # Label: Subheading -%}
      {{ section.settings.subheading }} 
    </div>
    <a class="button" href="{{ section.settings.button_link }} ">{{ section.settings.button_label }} </a>
  </div><!---End section-content-->

</div><!--End inner-->
{%- # Label: Heading -%}


<img class="home-hero-products" src="/notch-hero-images.png" alt="Notch cutting boards and wooden spoons" loading="lazy" />





{% schema %}
  {
  "name": "Home Main Banner",
  "class": "section section-home-banner bg-chevron-blue",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Add content for the custom banner at the top of the Home Page, which includes product images that slide in to the screen."
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "info": "Add a heading for this section"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Subheading",
      "info": "Add a subheading for this section"
    },
    {
      "type": "text",
      "id": "subheading_3",
      "label": "Subheading 3",
      "info": "Add a subheading for this section"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop Now",
      "info": "Enter the label for the button in this section"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "info": "Choose or enter the link that this button should point to"
    }
  ],
  "presets": [
    {
      "name": "Home Main Banner"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}