{{ 'section-additional-products.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

<div class=" inner page-width">
  
    {%- if section.settings.heading != blank -%}
      <header class="section-header">
        <h2 class="dotted-header header-cn scroll-trigger animate--slide-in">
          <span>{{ section.settings.heading }}</span>
        </h2>
      </header>
    {%- endif -%}

    <div class="additional-product-cards">

      {%- for block in section.blocks -%}
        {%- case block.type -%}
      
          {%- when 'product' -%}
            
            {%- assign additional_product = block.settings.additional_product -%}
            {%- assign custom_description = block.settings.custom_description -%}

            {% render 'card-product-additional',
              card_product: additional_product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              show_quick_add: true,
              section_id: section.id,
              custom_description: custom_description
            %}

      
            

      
        {%- endcase -%}
      {%- endfor -%}

    </div><!--End additional-products-->

</div><!--end page-width inner -->




{% schema %}
  {
  "name": "Additional Products",
  "class": "section section-additional-products bg-chevron-white",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "placeholder": "You May Also Like",
      "info": "Enter a heading/title for the section"
    }
  ],
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "additional_product",
          "label": "Additional Product",
          "info": "Choose a product to add to this section"
        },
        {
          "type": "richtext",
          "id": "custom_description",
          "label": "Custom Description",
          "info": "Add a custom description for this product. Otherwise, the default product text content will be used."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Additional Products"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}