{{ 'section-product-details.css' | asset_url | stylesheet_tag }}

{%- # Label: Associated Product -%}
{%- assign associated_product = section.settings.associated_product -%}

{%- if section.settings.associated_product == product.handle -%}

<div class="product-details">
  
    <div class="product-details-image">
        {%- # Label: Hero Image -%}
        {%- assign hero_image = section.settings.hero_image -%}
        {%- if hero_image != blank -%}
        {{ hero_image | image_url: width: hero_image.width | image_tag: class: 'add_your_class_here', loading: 'lazy' }}
        {%- endif -%}
    </div>

    <div class="product-details-content">

        {%- # Label: Heading -%}
        <h2>{{ section.settings.heading }}</h2>

    
        {%- # Label: Main Details -%}
        <div class="product-main-details">
        {{ section.settings.main_details }} 
        </div><!--End producty-main-details-->

        <div class="product-key-details">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
        
            {%- when 'key_details' -%}
                {%- # Label: Key Detail -%}
                <p class="product-key-detail">{% render 'icon-close' %} {{ block.settings.key_detail }}</p>
        
            {%- endcase -%}
        {%- endfor -%}
        </div>

    </div>

    
</div>
{%- endif -%}


{% schema %}
  {
  "name": "Product Details",
  "class": "section section-product-details",
  "tag": "section",
  "settings": [
    {
      "type": "product",
      "id": "associated_product",
      "label": "Associated Product",
      "info": "Choose which product this details section should appear on"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Product Details",
      "info": "Add a heading (default is Product Details)"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image",
      "info": "Choose a hero image for the product"
    },
    {
      "type": "richtext",
      "id": "main_details",
      "label": "Main Details",
      "info": "Add the main details for this product (dimensions, wood, weight, etc.)"
    }
  ],
  "blocks": [
    {
      "name": "Key Details",
      "type": "key_details",
      "settings": [
        {
          "type": "text",
          "id": "key_detail",
          "label": "Key Detail",
          "info": "Add a key detail for this product (appears below the Main Details)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Details"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}