{{ 'section-product-general-info.css' | asset_url | stylesheet_tag }}

<div class="general-info-inner">
    <div class="general-info-content">
        {%- # Label: Heading -%}
        <h2 class="block-header-v2">{{ section.settings.heading }}</h2>
        
        {%- # Label: Subheading -%}
        <h3>{{ section.settings.subheading }}</h3>
        
        {%- # Label: Content -%}
        {{ section.settings.content }} 
    </div>

    {%- # Label: Hero Image -%}
{%- assign hero_image = section.settings.hero_image -%}
{%- if hero_image != blank -%}
{{ hero_image | image_url: width: hero_image.width | image_tag: class: 'product-general-hero', sizes: '(min-width: 980px) 50vw, 100vw', loading: 'lazy' }}
{%- endif -%}

</div>



{% schema %}
  {
  "name": "Product General Info",
  "class": "section section-product-general-info",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "CHARACTER INGRAINED™",
      "info": "Add a heading to this section"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Each peace is hand selected for grain and pattern",
      "info": "Add a subheading for this section"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "info": "Add some copy/content to this section"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image",
      "info": "Upload a hero image for this section "
    }
  ],
  "presets": [
    {
      "name": "Product General Info"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}