{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'section-product-faq.css' | asset_url | stylesheet_tag }}



<div class="faq-wrap">
  {%- assign heading = section.settings.heading -%}
    {%- if heading != blank -%}
      <h2 class="block-header-v3">{{ section.settings.heading }}</h2>
    {%-  endif -%}
  <div class="faq-inner">
  {%- for block in section.blocks -%}
    {%- case block.type -%}

      {%- when 'qa' -%}

        <toggle-element id="Product-Toggle-{{ block.id }}-{{ section.id }}">
          <toggle-item>
            <h2 class="name ">
              <span>{{ block.settings.title | default: block.settings.page.title }}</span>
              {% render 'icon-close' %}
            </h2>
            <div class="info">
                <div class="content">
                  {{ block.settings.answer }}
              {{ block.settings.page.content }}
                </div>
            </div>
          </toggle-item>
        </toggle-element>

       
    {%- endcase -%}
  {%- endfor -%}
  </div><!--End faq-inner-->
</div>

{% schema %}
  {
  "name": "FAQs",
  "class": "section section-product-faq section-faq",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Frequently Asked Questions",
      "info": "Enter the title of this FAQs section (can be left blank)"
    }
  ],
  "blocks": [
    {
      "name": "Q&A",
      "type": "qa",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "info": "Enter a question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "info": "Enter an answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product FAQs"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}